* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#009688 15%, #dbdbd3 15% 80%);
  height: 100vh;
}

.main-window {
  background-color: white;
  height: 90vh;
  width: 100%;
}

.debug-border {
  border: 2px dashed black;
}

main {
  height: 100vh;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.fas.fa-bell-slash {
  background-color: white;
  border-radius: 50%;
  color: #8edafc;
  padding: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-column {
  background-image: url(../img/mine.jpg);
}

#notifications {
  background-color: #8edafc;
}

header {
  background-color: #eaeaea;
  height: 70px;
}

.left-column .active {
  background-color: #eaeaea;
}

.sent {
  background-color: #d5f9ba;
  min-height: 5%;
  max-width: 42%;
  min-width: 35%;
  float: right;
  clear: both;
  margin-right: 5%;
}

.received {
  background-color: #ffffff;
  min-height: 5%;
  max-width: 42%;
  min-width: 35%;
  float: left;
  clear: both;
  margin-left: 5%;
}

.rounded-5 {
  border-radius: 0.5rem !important;
}
.rounded-8 {
  border-radius: 0.8rem !important;
}

.upperfont {
  color: #b1b1b1;
}

.bell {
  border-radius: 50%;
}

.notify {
  color: #516161;
}

footer {
  background-color: #f3eeea;
  color: #b1b1b1;
  height: 70px;
}

.notifications-box {
  font-size: 15px;
}

#chat {
  height: calc(100% - 140px);
  overflow-y: scroll;
}

.list-group-item.active-contact {
  background-color: #e9ebeb;
}

.timestamp {
  font-size: 12px;
}

.lastmessagesent {
  color: #5e7c7c;
  font-size: 13px;
}

.hand {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #f8f8f8;
}

#contacts {
  overflow-y: scroll;

  max-height: calc(100% - 289px);
}

#notifications {
  height: 75px;
}

#search {
  height: 55px;
}

.fs-10 {
  font-size: 14px;
}

.dropdown-menu {
  right: -10px;
  top: -15px;
}

.mydropdown {
  position: absolute;
  z-index: 1000;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  right: -10px;
  top: -15px;
}

.fa-lightbulb:hover {
  color: red;
}

.messages-text {
  position: relative;
}

.dropdown .btn {
  z-index: 1;
  position: absolute;
  right: -10px;
  top: -15px;
  opacity: 0.5;
  width: 1px;
  height: 1px;
}
.fa-caret-down:hover,
.btn:hover {
  cursor: pointer;
  opacity: 1;
}

.dark-mode {
  background-color: rgb(5, 9, 219);
  color: white;
}

.dark-mode.list-group-item {
  color: red;
  background-color: rgb(5, 9, 219);
}

body.dark-mode {
  color: red;
  background: linear-gradient(#200096 15%, #dbdbd3 15% 80%);
}

.main-window.dark-mode {
  background-color: rgb(15, 30, 236);
}

header.dark-mode {
  background-color: rgb(15, 30, 236);
}
