* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#009688 15%, #dbdbd3 15% 80%);
  height: 100vh;
}

.main-window {
  background-color: white;
  height: 90vh;
  width: 100%;
}

.debug-border {
  border: 2px dashed black;
}

main {
  height: 100vh;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.fas.fa-bell-slash {
  background-color: white;
  border-radius: 50%;
  color: #8edafc;
  padding: 5px;
}

.right-column {
  background-image: url(../img/mine.jpg);
}

#notifications {
  background-color: #8edafc;
}

header {
  background-color: #eaeaea;
  height: 70px;
}

.left-column .active {
  background-color: #eaeaea;
}

.sent {
  background-color: #d5f9ba;
  min-height: 5%;
  max-width: 42%;
  min-width: 35%;
  float: right;
  clear: both;
  margin-right: 5%;
}

.received {
  background-color: #ffffff;
  min-height: 5%;
  max-width: 42%;
  min-width: 35%;
  float: left;
  clear: both;
  margin-left: 5%;
}

.rounded-5 {
  border-radius: 0.5rem !important;
}
.rounded-8 {
  border-radius: 0.8rem !important;
}

.upperfont {
  color: #b1b1b1;
}

.bell {
  border-radius: 50%;
}

.notify {
  color: #79a1a1;
}

footer {
  background-color: #f3eeea;
  color: #b1b1b1;
  height: 70px;
}

.notifications-box {
  font-size: 15px;
}

#chat {
  height: calc(100% - 140px);
  overflow-y: scroll;
}

.list-group-item.active-contact {
  background-color: #e9ebeb;
}

.timestamp {
  font-size: 12px;
}

.lastmessagesent {
  color: #79a1a1;
  font-size: 13px;
}

.hand {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #f8f8f8;
}

#contacts {
  overflow-y: scroll;
  height: 576px;
}

/* .message {
  position: relative;
}

.dropdown {
  position: absolute;
  right: 0px;
  top: 0px;
} */
